:root {
  --main-text-color: #212121;
  --blue-color: #2196f3;
  --grey-color: #757575;
  --accent-bcg-color: #2f303a;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --white-color: #ffffff;
  --border-header-color: #ececec;
}

html,
body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.logo-font {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--blue-color);
  text-decoration: none;
}

.logo-header-color {
  color: var(--main-text-color);
}

.logo-footer-color {
  color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.hidden-item {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.page-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-header-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  list-style: none;
}

.header-list li:not(:first-child) {
  margin-left: 50px;
}

.header-list li:first-child {
  margin-left: 93px;
}

.header-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc() 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--duration) var(--timing-function);
}

.header-link:hover,
.header-link:focus {
  color: var(--blue-color);
}

.header-link.current {
  color: var(--blue-color);
}

.header-link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-color);
  display: inline-block;
}

.contact-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  transition: color var(--duration) var(--timing-function);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--blue-color);
}

.contacts {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.contacts li:not(:first-child) {
  margin-left: 30px;
}

.contact-link .icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.icon {
  fill: currentColor;
}

/* hero */

.section-hero {
  padding-top: 200px;
  text-align: center;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-bcg-color);
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-transform: uppercase;
}

.button {
  height: 50px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.hero-btn {
  width: 200px;
  margin-top: 30px;
  background: var(--blue-color);
  color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}

/* ЗАмолвення послуг */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms var(--timing-function);
}

.modal-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-order {
  transform: translate(-50%, -50%) scale(0.8);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button-close .icon {
  width: 11px;
  height: 11px;
}

/* Чим кращі */
.section {
  padding-top: 94px;
}

.skils-list {
  display: flex;
  list-style: none;
  margin-left: -30px;
}

.skils-list li {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.skils-list .skils-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.skils-list .item {
  width: 70px;
  height: 70px;
}

.skils-subtitle,
.prt-box-subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  text-transform: uppercase;
}

.skils-text,
.prt-box-text {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: var(--grey-color);
  margin-top: 10px;
}

/* Чим ми займаємося */

.section-gallery {
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  text-align: center;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.gallery-item {
  position: relative;
}

.gallery-label {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* Наша Команда */
.section-teams {
  background: #f5f4fa;
  padding-bottom: 94px;
}

.teams-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 50px;
}

.teams-item {
  background: #ffffff;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teams-item:first-child {
  margin-left: 0;
}

.team-images-div {
  padding: 30px 0;
}

.teams-subtitle {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.19;
}

.teams-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.19;
  color: var(--grey-color);
  margin-top: 10px;
}

.teams-item .joinus-social {
  width: 206px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.teams-item .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.teams-item .social-link:hover,
.teams-item .social-link:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}

/* Постійні клієнти */
.customers-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 50px;
}

.customers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color var(--duration) var(--timing-function),
    border-color var(--duration) var(--timing-function);
}

.customers:hover,
.customers:focus {
  color: var(--blue-color);
  border-color: var(--blue-color);
}

/* FOOTER */
.footer {
  padding: 60px 0;
  background: var(--accent-bcg-color);
}

.footer > .container {
  display: flex;
}

.contact-div {
  width: 230px;
}

.address {
  padding-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

.footer-contacts {
  display: block;
  padding-top: 9px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration) var(--timing-function);
}

.map {
  color: var(--white-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--blue-color);
}

.address ul {
  list-style: none;
}

.footer-joinus {
  width: 206px;
  margin-left: 70px;
  margin-top: 12px;
}

.joinus {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.joinus-social {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.footer-joinus .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration) var(--timing-function);
}

.footer-joinus .social-link:hover,
.footer-joinus .social-link:focus {
  background: var(--blue-color);
}

/* Портфоліо */
.section-customers,
.prt-section {
  padding-bottom: 94px;
}

.control-panel {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.button-filter {
  margin-right: 8px;
  padding: 0 22px;
  background: #f5f4fa;
  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function);
}

.button-filter:hover,
.button-filter:focus {
  background: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.prt-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  list-style: none;
}

.prt-box-item {
  border: 1px solid #eeeeee;
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.prt-box-thumb {
  position: relative;
  overflow: hidden;
}

.prt-box-item a {
  display: block;
  text-decoration: none;
  color: var(--main-text-color);
}

.prt-box-item a:hover,
.prt-box-item a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.prt-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 00.03em;
  overflow: hidden;
  transform: translatey(100%);
  transition: transform var(--duration) var(--timing-function);
}

.prt-box-item a:hover .prt-box-overlay {
  transform: translateY(0);
}

.prt-box-item img,
.customers img,
.teams-item img,
.gallery-list img {
  display: block;
  max-width: 100%;
}

.prt-box-descr {
  padding: 20px 24px;
}
